
#gallery img {
   scroll-snap-align: center;
}

@media only screen and (max-width:500px) {


@media only screen and (max-width:800px) {
  /* For tablets: */
  .scroll_container { 
    scroll-margin: 2em;
    ;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .scroll_container {
    scroll-margin: 2em;
  }
}