

@media only screen and (max-width:800px) {
  /* For tablets: */
  .body { 
    width: 767px;
    ;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .body {
    width: 767px;
    height: 1534px;
  }
}