#gallery {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}

#gallery img {
   scroll-snap-align: center;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .scroll_container { 
    scroll-margin: 3em;
    ;
}
  
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .scroll_container {
    scroll-margin: 3em;
  }
  
@media only screen and (max-width:0px) {
  /* For desktop: */
  .scroll_container { 
    scroll-margin: 3em;
  
}
  